/****** Base Styles *****/
 
body {
	font-family: 'source-sans-pro', sans-serif;
	color: #2b2b2b;
}


/***** GRID *****/


.full-width {
	margin: 0 auto;
	overflow: auto;
	width: 1200px;
}

.half-width {
	float: left;
	width: 600px;
	
}

.third-width {
	float: left;
	width: 400px;
}


/***** HEADER *****/


header {
	background: url("../img/full-background.png") no-repeat;
	background-position: center;
	background-size: cover;
	height: 800px;

}

header h1{
	color: #bbc085;
	font-family: 'Lora', serif;
	font-size: 30px;
	padding: 65px 0 65px 25px;
}
	
nav {
    float: right; 
    padding: 75px 25px;
}

nav ul {
    padding: 0;
}

nav ul li{
    display: inline-block;
}
nav ul li a {
	color: #828282;
	font-size: 18px;
    padding-left: 65px; 
    text-transform: uppercase;
    text-decoration: none;
}

header h2 {
	color: #9b9b9b;
    clear: both;
    font-family: 'lora', serif;
    font-size: 72px;
    font-weight: bolder;
   	line-height: 80px;
    padding: 20px 0 20px 25px;
    width: 950px;
}
header h2 span {
    color: #2b2b2b;
}
/***** ABOUT *****/


#about .full-width {
	padding: 80px 0;
}
	
#about h2 {
	color: #2b2b2b;
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}
 
#about p {
	color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}


/***** WORK *****/


#work {
	background: #f9ceb7;
	text-align: center;
}
	
#work .full-width {
    padding: 115px 0;
}
 
#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px; 
    line-height: 32px;
    margin: 0 auto;
    width: 190px;
}
 
#work p {
    font-family: 'lora', serif;
    font-size: 18px;
    line-height: 30px; 
    padding: 0 50px;
}


/***** CONTACT *****/
 

#contact {
	background: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}
	
#contact img#contact-img {
	border: 12px solid #ffffff;
    margin-left: 25px;
}

#contact h2, #contact, #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: lighter;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    color: #c49075;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
	
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}


/***** BLOG page *****/


#blog header {
    background: url("../img/full-background.png") no-repeat;
    background-position: top;
    background-size: cover;
    height: auto; 
}

#blog h2 {
    text-transform: capitalize;
}

#blog span {
    font-style: italic;
    text-transform: lowercase;
}

#main {
    text-align: center;
    background: #f9ceb7;
}


#main .third-width {
    width: 391px;
    border: 3px  solid #333333;
    margin: 1px;
}

#main h3 {
    width: 300px;
    margin: 20px auto;
    font-size: 24px; 
    line-height: 32px;
    text-transform: capitalize;
}

#main p {
    width: 350px;
    margin: 20px auto;
    color: #808080;
    font-family: 'lora', serif;
    line-height: 30px;
}

#main img {
    height: 100px;
    width: 100px;
}